/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* The main scrollbar **track** CSS class  */
	
	.root{
	-fx-background-image:url("蓝色1.png");
    }

 #comfirmButton, #backButton{
   -fx-background-color:null;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;
  -fx-border-color:white;
  -fx-max-height: 10.0px;
    -fx-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -fx-text-fill:white;
   }
   .label{
   	-fx-text-fill:white;
   }
   #comfirmButton:hover .label, #backButton:hover .label{
 	-fx-text-fill:rgba(59, 165, 245, 0.9) ; 
 	 }
 	  #comfirmButton:hover, #backButton:hover{
 	-fx-background-color: rgba(234, 246, 255, 0.9); 
 		 	-fx-text-fill:rgba(59, 165, 245, 0.9) ; 
 		
 	 }
 	 
    #comfirmButton:pressed .label, #backButton:pressed .label{
    	-fx-background-color: rgba(90, 181, 251, 0.7) ;
    	-fx-text-fill:rgba(255, 255, 255, 0.5);
    	-fx-opacity:3.0
    } 
     #comfirmButton:pressed, #backButton:pressed{
  	-fx-background-color: rgba(90, 181, 251, 0.7) ;
  	    	-fx-text-fill:rgba(255, 255, 255, 0.5);
  	
    -fx-opacity:3.0 ; 
    }
	
	 .choice-box{
 	-fx-mark-color: white ;
  -fx-padding: 0;
  -fx-background-color:#1B9AF7;
   -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #d4d4d4;
  -fx-border-radius: 3px;
  -fx-effect:dropshadow(gaussian,rgba(0, 0, 0, 0.2),7.0,0.0,0.0,2.0);

   }
          
         
  .choice-box .label{
     -fx-text-alignment: left;
     
          	  -fx-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          }
      .choice-box .separator{
      	-fx-color: #5e53e4;
      }    
          
    .choice-box .context-menu {    	
    -fx-font-size: 12.8px;
    -fx-min-height: 40px;
  -fx-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -fx-background-color:#1B9AF7;
     -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #d4d4d4;
  -fx-border-radius: 3px;
  -fx-cursor: pointer;
  -fx-padding:0;
}      
.choice-box .menu-item{	
          -fx-min-height: 40px;
    -fx-padding: 6px 7px;
    -fx-color: #666;
          
}

.choice-box .menu-item:hover,choice-box .menu-item:focused {
  -fx-background-color: #665ce6;
  -fx-text-fill: #f2f2f2;
}

#lb1,#lb2{
	-fx-font-family: "Helvetica Neue",sans-serif, "Microsoft Yahei", "MingLiU";
	-fx-font-size: 18px;
}


    .combo-box {
    	-fx-padding: 0;
    -fx-min-height :40px;
    -fx-min-width : 180px;
  -fx-mark-color:white;
  -fx-background-color: rgb(40,156,244);
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #d4d4d4;
  -fx-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    
    .text-input{
  -fx-background-color: rgb(40,156,244);
      	  	-fx-text-fill:white;
  
    }
    
    .text-input:hover{
    	  	-fx-background-color: #4cb0f9;
    	
    }
    
    .combo-box .list-cell{
    	-fx-text-fill: white;
    	-fx-alignment: center ;
    	
    }
    .combo-box .list-cell:pressed, .combo-box .list-cell:focused{
    	-fx-effect: dropshadow(gaussian,rgba(255, 255, 255, 0.3),10,0,0,1px);
            -fx-background-color: #2798eb;
    -fx-border-color: #2798eb;    
    
    }
    
       .combo-box:hover {
  	-fx-background-color: #4cb0f9;
    -fx-border-color: #4cb0f9;
    }
    
      .combo-box:pressed, .combo-box:focused {
    -fx-effect: dropshadow(gaussian,rgba(255, 255, 255, 0.3),10,0,0,1px);
            -fx-background-color: #2798eb;
    -fx-text-fill: #0880d7;
            }
    

.combo-box-popup .list-view .list-cell {
	        	  -fx-color:white;
	
		-fx-cell-size:40px;
		    -fx-background-color: rgb(50,161,244);
    -fx-text-fill:white;
}
.combo-box-popup .list-view .list-cell:hover {
		-fx-cell-size:40px;
		    -fx-background-color: rgb(28,144,237);
    -fx-text-fill:white;
}
    
    
    
 
 
    
    
 
	
	
