/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* The main scrollbar **track** CSS class  */
	
    
    #grid{
    		-fx-background-image:url(order.png);
    	-fx-min-height:200;
    	-fx-min-width:800;
  -fx-padding: 0;
   -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #d4d4d4;
  -fx-border-radius: 1px;
  -fx-effect:dropshadow(gaussian,rgba(0, 0, 0, 0.2),7.0,0.0,0.0,2.0);
  	-fx-font-family: "Helvetica Neue",sans-serif, "Microsoft Yahei", "MingLiU";

    }


 .button{
   -fx-background-color:null;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;
  -fx-border-color:white;
  -fx-max-height: 10.0px;
    -fx-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -fx-text-fill:white;
   }
   .label{
   	-fx-text-fill:white;
   }
  .button:hover .label{
 	-fx-text-fill:rgba(59, 165, 245, 0.9) ; 
 	 }
 	 .button:hover{
 	-fx-background-color: rgba(234, 246, 255, 0.9); 
 		 	-fx-text-fill:rgba(59, 165, 245, 0.9) ; 
 		
 	 }
 	 
   .button:pressed .label{
    	-fx-background-color: rgba(90, 181, 251, 0.7) ;
    	-fx-text-fill:rgba(255, 255, 255, 0.5);
    	-fx-opacity:3.0
    } 
    .button:pressed{
  	-fx-background-color: rgba(90, 181, 251, 0.7) ;
  	    	-fx-text-fill:rgba(255, 255, 255, 0.5);
  	
    -fx-opacity:3.0 ; 
    }
	
	
