/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* The main scrollbar **track** CSS class  */
	
	.root{
	-fx-background-image:url(redbg3.png);
    }
    
    
	  .scroll-bar:horizontal .track,
	 .scroll-bar:vertical .track{
		-fx-background-color: rgb(252,70,85);
	    -fx-background-radius: 0em;
	    -fx-border-radius:2em;
	}
	 
	/* The increment and decrement button CSS class of scrollbar */
	 .scroll-bar:horizontal .increment-button ,
	 .scroll-bar:horizontal .decrement-button {
	    -fx-background-radius: 0em;
	    -fx-padding:0 0 10 0;
	 
	}
	 
	/* The increment and decrement button CSS class of scrollbar */
	 
	.scroll-bar:vertical .increment-button ,
	.scroll-bar:vertical .decrement-button {
	 
	    -fx-background-radius: 0em;
	    -fx-padding:0 10 0 0;
	 
	}
	 
 	.scroll-bar .increment-arrow,
	.scroll-bar .decrement-arrow
	{
	    -fx-shape: "";
	    -fx-padding:0;
	}
	 
	 .scroll-bar:horizontal .thumb,
	 .scroll-bar:vertical .thumb {
	    -fx-background-color:white;
	    -fx-background-insets: 2, 0, 0;
	    -fx-background-radius: 5em;
	 
	}

  #back{
   -fx-background-color:null;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;
  -fx-border-color:white;
  -fx-max-height: 10.0px;
    -fx-font-family:"PingFang SC"; 
     -fx-text-fill:white;
   }
    #back.label{
   	-fx-text-fill:white;
   }
   #back:hover .label{
 		 	-fx-text-fill:rgba(251, 66, 81, 0.9) ; 
 	 }
 	 #back:hover{
 	-fx-background-color: rgba(255, 234, 246, 0.9); 
 		 	-fx-text-fill:rgba(251, 66, 81, 0.9) ; 
 		
 	 }
 	 
    #back:pressed .label{
    	-fx-text-fill:rgba(255, 255, 255, 0.5);
    	-fx-opacity:3.0
    } 
     #back:pressed{
  	-fx-background-color: rgba(252, 90, 101, 0.7) ;
  	    	-fx-text-fill:rgba(255, 255, 255, 0.5);
  	
    -fx-opacity:3.0 ; 
    }

    
    #radio{
    	-fx-min-height:80;
    	
    }
    
    
    
    .scroll-pane > .viewport {
   -fx-background-image: url(redbg3.png);
}

	.scroll-pane{
		-fx-border-color:rgb(252,70,85) ;
		-fx-border-style:solid;
		-fx-border-width:1px;
	}
    


    
    
    
    .radio-button .dot{
  -fx-mark-color: rgb(249,62,77) ;
    }
    
    .radio-button {
  	-fx-font-family: "PingFang SC";
    	-fx-text-fill:white;
    	-fx-font-size:16px;
    	
    }
 
 .radio-button .radio {
  -fx-background-color: white;
}
	
	
