/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* The main scrollbar **track** CSS class  */
	
    
     #pane{
    	-fx-min-height:80;
    	-fx-min-width:400;
  -fx-padding: 0;
   -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #d4d4d4;
  -fx-border-radius: 1px;
  -fx-effect:dropshadow(gaussian,rgba(0, 0, 0, 0.2),7.0,0.0,0.0,2.0);
  	-fx-font-family: "PingFang SC";

    }

.label{
	-fx-text-fill:white;
	-fx-font-size:16px;
	  	-fx-font-family: "PingFang SC";
}

   .button{
  -fx-background-color: rgb(149,13,135);
   -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #d4d4d4;
  -fx-text-fill: #FFF;
  -fx-font-family: "PingFang SC";

  
 }

 .button:hover, .button:focus {
  	-fx-background-color: rgb(152,47,141);
    -fx-border-color:rgb(159,19,144);
    -fx-text-fill: #FFF; 
    }
    
  .button:pressed {
    -fx-effect: dropshadow(gaussian,rgba(255, 255, 255, 0.3),10,0,0,1px);
            -fx-background-color: rgb(159,0,144);
    -fx-border-color: rgb(159,0,144);
    -fx-text-fill: rgb(162,81,153);
   }
    
    
    
    
    
    
	
	
