/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* The main scrollbar **track** CSS class  */

	.root{
	-fx-background-image: url(NJU.png);
}

    
	.password-field{
	-fx-min-width: 250.0;
}
	.text-field{
		-fx-min-width : 250.0;
	}
	
	
	.label{
		-fx-font-family: "Helvetica Neue",sans-serif, "Microsoft Yahei", "MingLiU";
		-fx-text-fill:white;
	}
	/* 
	#loginbutton {

    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0;
    		-fx-background-color:#FFFFFF;
    
    -fx-background-radius: 5.0,5.0,4.0;
    -fx-padding: 3.0 10.0 3.0 10.0;
    -fx-text-fill: #242d35;
    -fx-font-size: 14.0px;
    -fx-font-family:"Helvetica";
}
#loginbutton:hover {
      -fx-background-color: linear-gradient(#f0f8ff, #00ffff);
        
}

#loginbutton:pressed, #loginbutton:default:hover:pressed {
  -fx-background-color: 
        rgba(0.0,0.0,0.0,0.08),
        linear-gradient(white 0.0%, #f3f3f3 50.0%, #ececec 51.0%, #f2f2f2 100.0%);

   -fx-text-fill: #242d35;
}

#loginbutton:focused {
      -fx-background-color: 
        rgba(0.0,0.0,0.0,0.78),
        linear-gradient(white 0.0%, #f3f3f3 50.0%, #ececec 51.0%, #f2f2f2 100.0%);
        
      -fx-text-fill: #696969;
}
*/

#registerbutton {
		-fx-font-family: "Helvetica Neue",sans-serif, "Microsoft Yahei", "MingLiU";
		-fx-text-fill:white ;
		-fx-background-color: null;
}

#registerbutton:hover{
			-fx-underline:true;
}
#registerbutton:pressed{
	
}
	      #loginbutton {
  -fx-background-color: rgb(149,13,135);
  -fx-border-color: rgb(149,13,135);
  -fx-text-fill: #FFF;
  -fx-font-weight: 300;
  -fx-font-size: 16px;
  -fx-font-family: "PingFang SC";
  -fx-text-alignment: center;
  -fx-min-height: 40px;
  -fx-padding: 0 40px;
  -fx-cursor: pointer;
  
 }
 /*-fx-background-color: rgb(144,137,187);
  -fx-border-color: rgb(144,137,187); */
 

 #loginbutton:hover, #loginbutton:focus {
  	-fx-background-color: rgb(152,47,141);
    -fx-border-color:rgb(159,19,144);
    -fx-text-fill: #FFF; 
    }
  #loginbutton:pressed {
    -fx-effect: dropshadow(gaussian,rgba(255, 255, 255, 0.3),10,0,0,1px);
            -fx-background-color: rgb(159,0,144);
    -fx-border-color: rgb(159,0,144);
    -fx-text-fill: rgb(162,81,153);
            }
	
	
