/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* The main scrollbar **track** CSS class  */

	
#pane{	
	-fx-background-image: url(resource/purple.png);

	 -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #d4d4d4;
}

#user{
	-fx-text-fill:white;
		-fx-min-width:100;
		-fx-alignment:center;
	
}
#id{
	-fx-font-size:16px;
	-fx-min-width:100;
	-fx-alignment:center;
}

.label{
	-fx-text-fill:white;
}   
            
  .button{
  -fx-background-color: rgb(149,13,135);
  -fx-border-color: rgb(149,13,135);
  -fx-text-fill: #FFF;
  -fx-font-weight: 300;
  -fx-font-size: 15px;
  -fx-font-family: "PingFang SC";
  -fx-text-alignment: center;
  -fx-padding: 0 40px;
  -fx-cursor: pointer;
  -fx-min-height:35px;
  -fx-max-height:35px;
  
 }

 .button:hover, .button:focus {
  	-fx-background-color: rgb(152,47,141);
    -fx-border-color:rgb(159,19,144);
    -fx-text-fill: #FFF; 
    }
    
  .button:pressed {
    -fx-effect: dropshadow(gaussian,rgba(255, 255, 255, 0.3),10,0,0,1px);
            -fx-background-color: rgb(159,0,144);
    -fx-border-color: rgb(159,0,144);
    -fx-text-fill: rgb(162,81,153);
   }
 
	
	
