/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* The main scrollbar **track** CSS class  */

	
#pane{	
	-fx-background-image: url(resource/green.png);

	 -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #d4d4d4;
}

#user{
	-fx-text-fill:white;
		-fx-min-width:100;
		-fx-alignment:center;
	
}
#id{
	-fx-font-size:16px;
	-fx-min-width:100;
	-fx-alignment:center;
}

.label{
	-fx-text-fill:white;
}

	     .button {
  -fx-background-color: rgb(166,220,70);
   -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: rgb(166,220,70);
  -fx-text-fill: #FFF;
  -fx-font-family: "PingFang SC";
  
 }
 .button.label{
 	-fx-text-fill:white;
 }

 .button:hover, .button:focus {
  	-fx-background-color: rgb(186,227,107);
    -fx-border-color: rgb(186,227,107);
    
    -fx-text-fill: #FFF; 
    }
    
  .button:pressed {
    -fx-effect: dropshadow(gaussian,rgba(255, 255, 255, 0.3),10,0,0,1px);
            -fx-background-color: rgb(162,208,78);
    -fx-border-color: rgb(162,208,78);
    -fx-text-fill: rgb(140,192,50);
            }
            
            
   	     #back {
   -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-text-fill: #FFF;
  -fx-font-weight: 300;
  -fx-font-size: 15px;
  -fx-font-family: "PingFang SC";
  -fx-text-alignment: center;
  -fx-min-height: 35px;
  -fx-padding: 0 40px;
  -fx-cursor: pointer;
  -fx-min-width:100px;
 }
  #back:hover, #back:focus {
  	-fx-background-color: rgb(186,227,107);
    -fx-border-color: rgb(186,227,107);
    
    -fx-text-fill: #FFF; 
    }
    
  #back:pressed {
    -fx-effect: dropshadow(gaussian,rgba(255, 255, 255, 0.3),10,0,0,1px);
            -fx-background-color: rgb(162,208,78);
    -fx-border-color: rgb(162,208,78);
    -fx-text-fill: rgb(140,192,50);
            }
            
            
   